header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 80px;
  h1{
    color: #fff;
  }
  
}
// .header{
//   h1{
//     &:hover{
//       a{
//         color: $mainColor;
//       }
//     }
//   }
// }
